.dropdown-wrapper
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    
.dropdown-container
    width: 500px
  
.dropdown
    display: inline-block
    margin: 0 auto
    text-align: center
    position: relative
    overfow: hidden
    
    &Input
        display: inline-block
        width: auto
        &:focus
            background-color: #f4f4f4
    
    &Button
        height: 100%
        font-size: 16px
        margin-left: 2px
    &List
        position: absolute
        top: 105%
        left: 0
        z-index: 1000
        width: 100%
        border: 1px solid black
        opacity: 1
        overflow-y: auto
        height: auto
        max-height: 200px
        display: none
        min-height: 42px
        &:before
            content: 'No matches'
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            z-index: -1
        &.top
            bottom: 105%
            top: auto
        &.active
            display: block
    &ListItem
        cursor: pointer
        height: 40px
        background-color: #fff
        line-height: 40px
        display: block
        border-bottom: 1px solid #c5c5c5

        &.invisible
            display: none
        &:hover
            background-color: lightgray
